In [ ]:
# Single Line Comment

'''
Multi Line Comment

'''

print('Hello Python Programming')
print()     # print function

# Data Type of Python Programming
'''
integer : int
Float   : float
string  : str
Boolean : bool (True / False)
Complex : complex (2 + 3i)
List    : list
Tuple   : tuple
Set     : set
Dictionary : dist
Class   : custom Datatype
'''
# Variable Definations
'''
assingment operrator : =
comparison operator  : ==
'''
number = 100 # variable defination of integer value
Number =100.4334343 # variable defination of float value

print(number == Number)

Hello Python Programming

False

In [ ]:
''' Anything written in "" is called string '''
string = "India 1234" # group of characters or numbers
print(type(str1))

str1 ="12345"

print(type(str1))

NameError: name 'str1' is not defined

In [ ]:
a = True
b = False
c = False

print(type(a))

# Using And logic

print(a and b)
print(a and c)
print(b and a)
print(b and b)

print("*" * 20)

# Using Or Logic

print(a or b)
print(b or c)
print(b or a)
print(b or b)

<class 'bool'>
False
False
False
False
********************
True
False
True
False

In [ ]:
# complex nummber
# Complex number = real part + imagenary part

num = 2 + 3j
print(num)
print(type(num))

In [ ]:
# list : Mutable
lst = []
lst1 = [1,2,3.1421,"India",True]
print(type(lst1))
lst2 = [1,2,3[10,20,30],"India"
print(type(lst2))]

In [ ]:
# tuple : immtuable
tup = ()
tup1 = (1,2,3.1421,"India",True)
print(type(tup1))

In [ ]:
# set

a = {1,1,2,2,2,3,4,5}

print(a)
print(type(a))

txt={"India","India",12,12,10,10,"USA"}
print(txt)

{1, 2, 3, 4, 5}
<class 'set'>
{10, 'India', 12, 'USA'}

In [ ]:
# Dictionary
d = {"India":[10,20,30,40,50],
     "USA":[1,4,5,6,7],
     "UK":[45,34,23,56,43]}

d

{'India': [10, 20, 30, 40, 50],
 'USA': [1, 4, 5, 6, 7],
 'UK': [45, 34, 23, 56, 43]}

In [ ]:
# Mathematical operations
'''
+
-
*
/
//
% - modulo (remainder)
'''
print(100 * 2 / 2 + 10)
print(1000 // 2)
print(1000 / 2)
print(40 % 3)
print(20 ** 2)
print(8 ** 0.5)

110.0
500
500.0
1
400
2.8284271247461903

In [ ]:
# comparison Operator

print(100 <= 200)    # less than or equal to
print(200 != 300)    # not equal to
print(1000 == 1000)  # Comparisonn ==

True
True
True

In [ ]:
# User defiend function
# program: Addition of two Number

'''
logic:

1. Ask user to enter the two numbers.
2. Addition operation will performed
3. Output will get printed
'''
number1 = float(input("enter the first number: "))
number2 = float(input("enter the second number: "))

number3 = number1 + number2

print(number3)

enter the first number: 10
enter the second number: 20
30.0

In [ ]:
# print operations

# Using f format method

print(f"The addition of two numbers {number1} and {number2} is {number3}")

print(f"The adiition of two numbers {number1} and {number2} is {number3}".format(number1,number2,number3))

The addition of two numbers 10.0 and 20.0 is 30.0
The adiition of two numbers 10.0 and 20.0 is 30.0

In [ ]:
# string operation

string = input("Enter the String : ")

# concept  of Indexing

'''
Logic:
H  e  l  l  o     W  o  r  l  d
0  1  2  3  4  5  6  7  8  9  10
-11 -10 -9 -8 -7 -6 -5 -4 -3  -2  -1
'''

print(string[4])
print(string[-7])

Enter the String : Hello World
o
o

In [ ]:
# Slicing a String
# String [Start:Stop]

string = "Hello World"
string1 = "India is Great"

print(string[:5])  #o/p: Hello
print(string[:-6]) #o/p :Hello
print(string1[9:])  #o/p : Great
print(string1[-5:]) #o/p : great

Hello
Hello
Great
Great

In [ ]:
# String Slicing Example
# o/p : Ida i ra
#string1[Start:Stop:Step]
#string1 = "India is Great"

print(string1[::2])
print(string1[::4])
print(string1[::-1])

Idai ra
Ia a
taerG si aidnI

In [ ]:
# Q. Write a program to print sentence/word is palindrom or not.
'''
1. Ask the user to enter the string.
2. store the string in variable: string
3. reverse the  entered string : string1
4. use is else condition to check the string is palindrome or not.

'''
# Step1 : Ask the user to enter the string.
string = input("Enter the String : ")

# Step2 : reverse the  entered string : string1
string1 = string[::-1]

# Step3 : use if else logic
if string == string1:
  print("The Given String is Palindrome")
else:
  print("The Given String is not Palindrome")

Enter the String : dad
The Given String is Palindrome

In [ ]:
# Q.Segregate user based on Marks Scored
# Condition: If Marks >=

'''
1. ask user to enter the marks and typecast to float .
2. store the marksin variable: marks
3. is else logics

'''

# Step1:
marks = float(input("Enter the Marks : "))

# Step2:
if marks >= 75:
  print("Bright Students")
else:
  print("Weak Student")

Enter the Marks : 56
Weak Student

In [ ]:
# Q. Using Multiple if elif Concept

score = float(input("enter the score: "))

if score >= 90:
  print("Grade A")
elif score >= 80:
  print("Grade B")
elif score >= 70:
  print("Grade C")
elif score >= 60:
  print("Grade D")
else:
  print("No Grade")

enter the score: 65
Grade D

In [ ]:
# Number Guessing Game: With Latency Calculation (elif)
import time
import random

start = time.perf_counter()

number = random.randint(1,5)
print(number)

if number == 1:
  print("Number is 1")
elif number == 2:
  print("Number is 2")
elif number == 3:
  print("Number is 3")
elif number == 4:
  print("Number is 4")
elif number == 5:
  print("Number is 5")
else:
  print("No Number")

# Your code that you want to time
end = time.perf_counter() - start
print('{:.6f}s for the calculation'.format(end))

2
Number is 2
0.000391s for the calculation

In [ ]:
# Number Guessing Game: With Latency Calculation (elif)

import time
import random

start = time.perf_counter()

number = random.randint(1,5)
print(number)

if number == 1:
  print("Number is 1")
if number == 2:
  print("Number is 2")
if number == 3:
  print("Number is 3")
if number == 4:
  print("Number is 4")
if number == 5:
  print("Number is 5")
else:
  print("No Number")

# Your code that you want to time
end = time.perf_counter() - start
print('{:.6f}s for the calculation'.format(end))

3
Number is 3
No Number
0.000394s for the calculation

In [ ]:
# Loops : For Loop & While Loop
# range(start,stop,step)

for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range(1,6):
  print("* " * i)

*
* *
* * *
* * * *
* * * * *

In [ ]:
# String: object / textfrom

lst = ["Hello","World","Python","Programming"]

for i in lst:
  # print(i.lower())
  # print(i.upper())
  # print(i.capitalize())
 print(i.count("Hello"))

1
0
0
0

In [ ]:
# Q. print all the even numbers from 1 to 20.

'''
Logic:
1. use range function to generate numbers
2. use for loop to iterate
3. use if condition to check the number is even or not.
'''

for i in range(1,21):
  if 1%2 == 0:
    print(i, end = " ")

In [ ]:
# Q. print all the even numbers from 1 to 20.

'''
Logic:
1. use range function to generate numbers
2. use for loop to iterate
3. use if condition to check the number is even or not.
'''

for i in range(1,21):
  if 1%2 == 0:
    print(i, end = " ")

In [ ]:
# Q. print the sum of all even numbers between 1 to 50.
'''
logic:
1. use range function to generate even numbers between 1 to 50
2. use for loop to iterate
3. assign a variable sum = 0 and then iterate through fro loop
'''

sum = 0

for i in range(1,51):
  if i % 2 == 0:
    sum = sum + i
print(sum)

650

In [ ]:
# using len() : This will return total number of vharacters present inside a string

len("print")

In [ ]:
# Q. segregate all the characters/string contains more then 6 letters/words/numbers

lst = ["India","ITVedanr@123","Autia_love456","515814115"]

for i in lst:
  if len(i) >= 6:
    print(i)

ITVedanr@123
Autia_love456
515814115

In [ ]:
# List
'''
1. DSA
2. Mutable
'''
lst =[]
lst2 = [[[[]]]]
lst2 = [1,2,3,4.5465151,True,False,4-7j]

In [ ]:
# List Methods
'''
When any function defiend inside a class it is called as Method

'''
a = []
print(type(a))
'''
append is add up the values at the last index
'''
a.append(1)
print(a)
a.append([2,3,4])
print(a)
a.append(5)
print(a)

# --------------------------
''' add up the value at specific index '''
a.insert(0,0)
print(a)

#--------------------------------------
''' remove the value of the last index '''
a.pop()
print(a)

#--------------------------
''' remove '''
a.remove(0)
print(a)
#----------------------------
a.insert(0,1)
print(a)
#---------------------
a.remove(1)
print(a)
#----------------------
print(a.count(1))
#-------------------------
print(a.index(1))
#------------------------
a.extend([10,20,30,40])
print(a)

<class 'list'>
[1]
[1, [2, 3, 4]]
[1, [2, 3, 4], 5]
[0, 1, [2, 3, 4], 5]
[0, 1, [2, 3, 4]]
[1, [2, 3, 4]]
[1, 1, [2, 3, 4]]
[1, [2, 3, 4]]
1
0
[1, [2, 3, 4], 10, 20, 30, 40]

In [ ]:
# Using reverse()
lst = [100,20,3000,4,500,6000]

lst.reverse()
print(lst)

[6000, 500, 4, 3000, 20, 100]

In [ ]:
# using sort()
lst.sort()
lst
#--------------------
lst1 = ["Hello","Beautiful","World",]
lst1.sort()
lst1

['Beautiful', 'Hello', 'World']

In [ ]:
# Concept of Indexing And Slicing
# lst [Index]

lst = [1,2,3,4,5,6,7,8,9,10]
print(lst[-1])
# lst[start:stop;step]
print(lst[2:6])
print(lst[1::3])
print(lst[-1::4])
print(lst[-1::-2])

10
[3, 4, 5, 6]
[2, 5, 8]
[10]
[10, 8, 6, 4, 2]

In [ ]:
# Concept of indexing and slicing

lst1 = [[1,2,3,4,[10,20,30],[4,5,6,7],9,10],100]
print(lst1[0][4][2])

lst3 = [[[1,2,3, [4,5,6,7,8,9,10,(40,50,60)]]]]
print(lst3[0][0][3][1:7])

30
[5, 6, 7, 8, 9, 10]

In [ ]:
# Tuple : Immutable

a = ()
b = (([{}]))
c = (1,2,3,4,5,6,7,8,9,10)

# methods in tuple
print(c.count(3))
print(c.index(3))

1
2

In [ ]:
# whenever we add tuple + tuple it will add by concatenate
# multiply division can't done
# keys always unique dictionary does't accept same keys

tup = (1,2,3)
lst = [1,2,3]
tup = (10,11,12)
lst1 = [10,11,12]
d = {1:10,2:20,3:30}

In [ ]:
# Q. write a program to

lst = []

for i in range(1,21):
  if i % 2 == 0:
    lst.append(i)

In [ ]:
# using list comprehension
[i for i in range(1,21) if i % 2 == 0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#  square of (1,10)
 [i**2 for i in range (1,11)]

# square of even numbers

[i**2 for i in range (1,11) if i % 2 == 0]

[4, 16, 36, 64, 100]

In [ ]:
sum([i**2 for i in range (1,11)])

385

In [ ]:
# Indexing and Slicing to tuple

tup = (1,2,3,(3,4,5,6),[45,56,67])

tup[4]

[45, 56, 67]

In [ ]:
# range()
for i in range(1,20,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Defination a Function
'''
def <Name>(): # Function Defination
  statements
  Expressions
  return statements, Expression

a,b =<Name>()  # Function Calling

'''

In [ ]:
def sum():              # Function Defination
  num1 = 100
  num2 = 200

  num3 = num1+num2
  return num3

ans = sum()          # Function Calling
print(f"The addition of two numbers is {ans}")       # using f-string functiomn

The addition of two numbers is 300

In [ ]:
def sum():          # Function Defination
  num1 = float(input("Enter the First Number: "))
  num2 = float(input("Enter the second Number: "))

  num3 = num1+num2
  return num3

ans = sum()       # Function Calling
print(f"The addition of two numbers is {ans}")  # Using f-String function

Enter the First Number: 645.61
Enter the second Number: 5644.2
The addition of two numbers is 6289.8099999999995

In [ ]:
def sum(a,b):
  a = float(input("Enter the first number: "))
  b = float(input("Enter the second number: "))

  return (a+b)

ans = sum(1,1)
print(f"The addition of two numbers is {ans}")

Enter the first number: 51
Enter the second number: 82
The addition of two numbers is 133.0

In [ ]:
number1 = float(input("Enter the First Number: "))
number2 = float(input("Enter the seccond Number: "))

def sum():     # function defination

  number3 = number1+number2

  return number3

def sub():    # function defination
  number3 = number1-number2

  return number3

ans1 = sum() # function calling
ans2 = sub() # function calling

print(ans1)
print(ans2)

Enter the First Number: 1000
Enter the seccond Number: 500
1500.0
500.0

In [ ]:
def student_info(Name,Age,Gender):
  print(f"The Name of Student is {Name}")
  print(f"The Age of Student is {Age}")
  print(f"The Gender of Student is {Gender}")

student_info(Name = "varun", Age = 20, Gender = "Male")

The Name of Student is varun
The Age of Student is 20
The Gender of Student is Male

In [ ]:
# Q. Write a function whether the given string is palindrom or not

string = input("Enter the string: ")

def palindrom():   # function definaton
  string1 = string[::-1]

  if string == string1:
    print("The given string is palindrom")
  else:
    print("The given string is not palindrom")

palindrom()   # Function calling

Enter the string: dad
The given string is palindrom

In [ ]:
# iterator and iterable

for i in range(1,10):
  print(i)             # i is called ietrator

1
2
3
4
5
6
7
8
9

In [ ]:
# Calculate length of each string

# define a iterable: List
lst = ["Hello","World","PythonProgramming","Datascience","Java"]

def compute1():      # Function Defination
  bucket1 = []
  bucket2 = []

  for i in lst:
    if len(i) > 4:
      bucket1.append(i)
    else:
      bucket2.append(i)
  return bucket1,bucket2

bucket1,bucket2 = compute1()         # Function Calling
print(bucket1)
print(bucket2)

['Hello', 'World', 'PythonProgramming', 'Datascience']
['Java']

In [ ]:
lst1 = ["a","e",'h',"o","u"]

bucket1 = []
bucket2 = []

def compute2():
  for i in lst1:
    if i in "aeiou":
      bucket1.append(i)
    else:
      bucket2.append(i)
  return bucket1,bucket2

bucket1,bucket2 = compute2()
print(bucket1)
print(bucket2)

['a', 'e', 'o', 'u']
['h']

In [ ]:
# lambda function

x = lambda x: x**3
print(x(7))

343

In [ ]:
# add function

#computing addition using lambda function

add = lambda a,b: a+b
print(add(100,200))


import time
start = time.perf_counter()
def sum(a,b):      # Function Definition
  a = 100
  b = 200
  return a+b

  sum(100,200)     # Function calling
 end = time.perf_counter() - start
print('{:.6f}s for the calculation'.format(end))

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 17)

In [ ]:
# print whether the number is  even or odd
import time
start = time.perf_counter()
x = lambda x: "Even" if x % 2 == 0 else "Odd"
print(x(7))
end = time.perf_counter() - start
print('{:.6f}s for the calculation'.format(end))

Odd
0.000231s for the calculation

In [ ]:
marks = lambda x: "best" if x >= 90 else ("medium" if x >= 70 else "poor")
print(marks(67))

poor

In [ ]:
# calculator program = home work